<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemies</key>
	<array>
		<dict>
			<key>lane</key>
			<real>7</real>
			<key>speed</key>
			<real>4</real>
		</dict>
		<dict>
			<key>lane</key>
			<real>6</real>
			<key>speed</key>
			<real>1</real>
		</dict>
		<dict>
			<key>lane</key>
			<real>2</real>
			<key>speed</key>
			<real>9</real>
		</dict>
		<dict>
			<key>lane</key>
			<real>5</real>
			<key>speed</key>
			<real>2</real>
		</dict>
	</array>
	<key>ladders</key>
	<array>
		<dict>
			<key>x</key>
			<real>100</real>
			<key>y</key>
			<real>600</real>
		</dict>
		<dict>
			<key>x</key>
			<real>200</real>
			<key>y</key>
			<real>300</real>
		</dict>
		<dict>
			<key>x</key>
			<real>50</real>
			<key>y</key>
			<real>100</real>
		</dict>
	</array>
</dict>
</plist>
