<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{100,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,451},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1509},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,901},{66,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,597},{90,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1053},{66,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,597},{90,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1661},{60,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1205},{66,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,749},{90,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1357},{66,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wr_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,749},{90,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{102,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40497c838a5f12a9d528839aa7511f8a:4274de13d3504c5928b03f374e4f4bb4:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
